h3
{
    margin-top: 30px;
}

pre
{
    padding: 10px;
    background: #f5f2f0;
    font-family: monospace;
    font-size: 14px;
    line-height: 18px;
    margin: 20px 0;
}

#logo
{
    display: block;
    width: 350px;
    height: 103px;
    background: url(../img/logo.png) no-repeat;
    margin: 30px 0;
}

.row
{
    max-width: 1340px;
}

.browser
{
    display: inline-block;
    text-align: center;
    margin-top: 13px;
    margin-bottom: 23px;
}

.browser:before, .browser:after
{
    content: ' ';
    display: block;
    max-width: 100%;
    width: 100%;
    height: 0;
    padding-top: 2.938388625592417061611374407583%;
    position: relative;
    top: 2px;
    background: url(../img/ui/browser-frame-top.png) no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;  
}

.browser:after
{
    padding-top: 0.4739336492890995260663507109%;
    top: -2px;
    background-image: url(../img/ui/browser-frame-bottom.png);
}

.browser img
{
    display: block;
    border-left: 1px solid  #86C953;
    border-right: 1px solid  #86C953;
}